#home-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 5px palevioletred;
    overflow: hidden; /* might need to change this later. but it works for now- just needed it to stop grid from overflowing*/
    
}

#grid-home-section{
    /* width: 95%; */
    /* min-height: 100vh; */
min-width: 100vw;
 margin: auto auto;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 0.5fr 1fr 0.5fr;
 gap: 1rem;
 border: 3px solid purple;
}
#grid-home-section > div{
    text-align: center;
}

#grid-home-section > div > p{
 font-size: 3rem;
}

#grid-home-section > div > img{
    max-height: 300px;
    max-width: 300px; 
    /* min-height: 150px;
    min-width: 150px; */
}