---
import MainLayout from "../layouts/MainLayout.astro"
import Home from "../components/Home.astro";
import Portfolio from "../components/Portfolio.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Nav from "../components/Nav.astro";

//style import:
import "../styles/MainStyles.css";
---

<MainLayout title="Josie's Site">
	<Nav/>
	<div id="home">
		<Home/>
	</div>
	<div id="portfolio">
		<Portfolio/>
	</div>
	<div id="about">
		<About/>
	</div>
	<div id="contact">
		<Contact/>
	</div>
	
	
</MainLayout>

