---
//about section

//style imports:
import "../styles/AboutStyles.css";

//image imports:
import placeholder from  "../images/josie-tilly.jpg";
---

<section id="about-section">
    <h1>all about me!</h1>
    <div id="about-content">
        <div class="about-image">
            <img id="personal-photo" src={placeholder.src}></img>
        </div>
        <div class="about-text">
            <h2>josie parker</h2>
            <p>
            Edison bulb 8-bit pug, listicle aute consectetur bespoke umami biodiesel ut prism 
            heirloom taxidermy blue bottle grailed. Esse ascot vegan, chillwave cupidatat gochujang
            lumbersexual Brooklyn. Tbh id DSA kogi. Gorpcore heirloom prism, slow-carb ramps DSA venmo
            leggings. Everyday carry tilde succulents, YOLO hell of XOXO next level narwhal flannel ugh.
            Squid shabby chic meh small batch excepteur before they sold out. Organic nulla hashtag, listicle
            crucifix man braid mustache affogato pinterest jianbing put a bird on it vice quinoa nisi narwhal.
            </p>
            <h2>my skills</h2>
            <p>
            Dolore thundercats nisi, heirloom aesthetic sustainable cred knausgaard vinyl fam. Tacos 
            8-bit pour-over, tote bag bespoke gochujang jianbing. Whatever lyft enim, meggings pork 
            belly palo santo cloud bread chia brunch leggings celiac man braid butcher mlkshk. Swag 
            poke consequat, slow-carb sed green juice pour-over palo santo chillwave migas. Salvia 
            DSA 90's put a bird on it XOXO disrupt tote bag adaptogen raw denim.
            </p>
        </div>
    </div>

</section>