---
//home-hero section

//style imports:
import "../styles/HomeStyles.css";

//image imports:
// import testImg from "../images/personal-site-book.png";
---

<section id="home-section">
    <h1>hi from home!</h1>
    <!-- <img src={testImg.src} /> -->
    <div id="grid-home-section">
        <div><p>1</p></div>
        <div><p></p></div>
        <div><p>3</p></div>
        <div><p></p></div>
        <div><p>5</p></div>
        <div><p></p></div>
        <div><p>7</p></div>
        <div><p></p></div>
        <div><p>9</p></div>

    </div>
</section>
