---
//nav

//style import:
import "../styles/NavStyles.css";
---

<nav>
    <ul class="nav-list">
        <li><a id="home-nav" href="#home">home</a></li>
        <li><a href="#portfolio">portfolio</a></li>
        <li><a href="#about">about</a></li>
        <li><a href="#contact">contact</a></li>
    </ul>
</nav>