---
//portfolio section

//style imports:
import "../styles/PortfolioStyles.css";
---

<section id="folio-section">
    <h1>hi from portfolio!</h1>
    <section id="main-cards">
        <div class="lg-card start-right">
            <h2>project 1!</h2>
            <img src="https://picsum.photos/200">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula pulvinar mauris. 
                Vivamus in purus luctus, cursus lectus id, convallis erat. Nunc feugiat, purus at finibus 
                iaculis, mi orci placerat enim, sed auctor mauris tellus nec magna. Cras tortor ligula, 
                aliquet facilisis quam sit amet, imperdiet elementum quam. Vivamus neque lectus, euismod 
                in molestie hendrerit, gravida eu tortor. Integer tristique gravida tellus tincidunt suscipit
            </p>

        </div>
        <div class="lg-card start-left">
            <h2>project 2!</h2>
            <img src="https://picsum.photos/200">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula pulvinar mauris. 
                Vivamus in purus luctus, cursus lectus id, convallis erat. Nunc feugiat, purus at finibus 
                iaculis, mi orci placerat enim, sed auctor mauris tellus nec magna. Cras tortor ligula, 
                aliquet facilisis quam sit amet, imperdiet elementum quam. Vivamus neque lectus, euismod 
                in molestie hendrerit, gravida eu tortor. Integer tristique gravida tellus tincidunt suscipit
            </p>
        </div>
    </section>
    <section id="other-cards">
        <div class="sm-card">
            <h2>card title</h2>
            <img src="https://picsum.photos/200">
        </div>
        <div class="sm-card">
            <h2>card title</h2>
            <img src="https://picsum.photos/200">
        </div>
        <div class="sm-card">
            <h2>card title</h2>
            <img src="https://picsum.photos/200">
        </div>
        <!-- <div class="sm-card">
            <h2>card title</h2>
            <img src="https://picsum.photos/200">
        </div> -->
    </section>
</section>
